<h2 mat-dialog-title>Add new Player</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a color</mat-label>
    <mat-select [(ngModel)]="selectedColor">
      <mat-option *ngFor="let color of colors" [value]="color">
        {{ color }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button [disabled]="name.length == 0" [mat-dialog-close]="{ name: name, color: selectedColor }">Ok</button>
</mat-dialog-actions>
